* {
 margin: 0;
 padding: 0;
 font-family: 'Open Sans', sans-serif;
}

.text-primary {
 color: #FD6E0A;
}
.header{
 background: #fff8f3;
 background-image: url('../images/header_bg.png'),url(../images/developer.png);
 background-repeat: no-repeat;
 background-position:bottom right,left;
}
/* Header css */
.main-header {
 display: flex;
 justify-content: space-between;
 margin: 50px 230px;
 padding-top: 51px;

}

.heading {
 color: #181818;
 font-size: 45px;
 font-weight: 800px;


}

span {
 color: #FD6E0A;
}

.main-header ul {
 display: flex;
 align-items: center;

}

.main-header li {
 list-style: none;
 margin-left: 51px;
}

.btn-primary {
 background: #FD6E0A;
 color: #FFFFFF;
 padding: 18px 35px;
 border: none;
 font-weight: 700;
 font-size: 20px;
 border-radius: 5px;
}
/* banner css */
.container{
 margin-left: 230px;
 margin-top: 185px;
 display: flex;
 align-items: center;
 
}
.img{
margin-bottom:0px ;


}
.sub-title{
 font-weight: 600;
font-size: 45px;
margin-bottom: 5px;
color: #474747;

}
.title{
 font-weight: 700;
font-size: 85px;
color: #181818;
margin-bottom: 20px;

}
.description{
 font-weight: 400;
font-size: 18px;
color: #757575;
margin-bottom: 30px;

}
.btn-contact{
 font-weight: 700;
font-size: 20px;
text-align: center;
color: #FD6E0A;
padding: 19px 24px;
border-radius: 5px;
border-color: ;
border: 1px solid#FD6E0A;
margin-left: 30px;

}
/* main section */
main{
 max-width:1140px ;
 margin: 0 auto;
}
.about{
 margin-top: 156px;
 
background: #FFF8F3;
border-radius: 10px;
padding: 131px 156px;
text-align: center;

}
.about-me{
 margin-bottom: 30px;
 font-weight: 700;
font-size: 35px;
color: #181818;
}
.section-description{
 margin-bottom: 30px;
}
.info-div{
 display: flex;
 justify-content: space-around; 
 
 
}

.info-div ul li{
 list-style: none;

}
.info-title{
 /* font-weight: 400; */
font-size: 20px;
color: #757575;
}
.info-description{
 font-weight:700;
 font-size:20px;
 color: #474747;
}

/* work css */
.my-work{
 margin-top: 130px;
 text-align: center;
}
.work-title{
 font-weight: 700;
font-size: 35px;
color: #181818;
margin-bottom: 30px;
}
.work-description{
 font-weight: 400;
font-size: 18px;
color: #757575;
margin-bottom: 50px;
}
.skills-container{
 display: flex;
 background: #FFFFFF;

}
.skills{
 margin-right: 30px;
 box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
}
img{
 margin: 30px 193px 30px 30px;
}
.skills-title{
 /* margin-left: 30px; */
 margin-bottom: 20px;
 margin-left: 30px;
 font-weight: 700;
font-size: 20px;
color: #181818;
text-align: left;

}
.skills-description{
 font-weight: 400;
 font-size: 16px;
 text-align: left;
 margin-left:30px ;
}
/* resume css */
.resume{
 margin-top:130px ;
 /* text-align:center; */
}
.resume-title{
 text-align: center;
 font-weight: 700;
font-size: 35px;
color: #181818;
margin-bottom: 113px;
}
.resume-maindiv{
 display: flex;
}
.education{ margin-right: 71px;}
.experience{}
.eetitle{
 font-weight: 700;
font-size: 30px;
margin-bottom: 30px;
color: #474747;
}
.master{
 border-bottom:1px solid #D1D1D1 ;
 margin-bottom: 30px;

}
.etitle{
 font-weight: 700;
font-size: 25px;
margin-bottom: 10px;
color: #474747;
}
.e-subtitle{
 font-weight: 600;
font-size: 20px;
margin-bottom: 20px;
color: #757575;
}
.e-mdes{
 font-weight: 400;
font-size: 16px;
color: #757575;
margin-bottom: 30px;
}
.button{
 text-align: center;
 margin-top: 50px;
}
/* footer */
.footer-part{
  background: #FFF8F3;
  margin-top: 113px;
  
}
.footer-container{
 display: flex;
 padding: 130px 230px;
 justify-content: space-around;
}
.footer-title{
 font-weight: 700;
font-size: 35px;
color: #181818;
margin-bottom: 20px;
}
.footer-description{
 font-weight: 400;
font-size: 16px;
/* margin-right: 117px; */
margin-bottom: 30px;
color: #474747;
}
.form{
 margin-bottom:24px ;
 border: none;
 padding: 18px 350px 18px 30px;
 font-weight: 400;
font-size: 16px;
color: #757575;
}
.icon{
 margin: 0px;
 padding: 10px;
}


